$main-background: bisque;
$column-background: rgba(255, 255, 255, 0.5);
$card-background: #ffffff;
$card-hover-background: rgb(23, 131, 179);
$front-background: green;
$back-background: red;
$device-background: yellow;